@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  /*position: sticky;*/
  top:0;
  background-color: dimgrey;
  z-index: 1;
}

html {
   background-color: dimgrey;
}

h1 {
  color: white;
}

.arrow_col{
  align-content: center;
}
svg.arrow{
  display: inline;
}
input[type=text]{
  padding: 1em;
  margin: 2% 1%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
}
/* the group of routes*/
.routes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
}
/* The specific route or trip option*/
.route {
  margin: 2em 1em;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  align-content: center;
  border-radius: 5px;
  justify-content: space-evenly;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1s ease, transform 1s ease;

}
.show {
  opacity: 1;
  transform: translateY(0);
}

.companyName{
  display:flex;
  align-items: center
}



