option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: django-insecure-9s96h$j01u2n$0#+d7jfxi0b8r=oo2%mu&vrc13fem49m+4ii*
    PORT: "8000"
    SERP_API_KEY: 68137f5fc7f6185be6271e46683cdba57df1483dc4e08261f736eef87c27e7e2
    SUPABASE_URL: postgresql://postgres:64RedBricks@db.mxycjrawnyryshuxivdy.supabase.co:5432/postgres?sslmode=require
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: django-insecure-9s96h$j01u2n$0#+d7jfxi0b8r=oo2%mu&vrc13fem49m+4ii*
    PORT: "8000"
    SERP_API_KEY: 68137f5fc7f6185be6271e46683cdba57df1483dc4e08261f736eef87c27e7e2
    SUPABASE_URL: postgresql://postgres:64RedBricks@db.mxycjrawnyryshuxivdy.supabase.co:5432/postgres?sslmode=require
