files:
  "/etc/cron.d/db_sweeper":
    mode: "000644"
    owner: root
    group: root
    content: |
      SHELL=/bin/bash
      PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
      */5 * * * * root /bin/bash -lc 'source /var/app/venv/*/bin/activate && /usr/bin/flock -n /var/lock/db_sweeper.lock -c "python /var/app/current/manage.py db_sweeper" >> /var/log/db_sweeper.log 2>&1'